.toast {
    border-radius: 10px;
    overflow: hidden;
    @apply bg-gray-800;
    color: white;
    padding: 15px 25px 15px 25px;
    font-size: .875rem;
    font-weight: normal;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    &--show {
    opacity: 1.0;
    visibility: visible;
    }
    &--progress {
      width: 100%;
      display: block;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &--success {
      color: #4ade80;
      .toast--progress {
        background: #4ade80;
      }
    }
    &--error {
      color: #ff3860;
      .toast--progress {
        background: #ff3860;
      }
    }
    &--warning {
      color: #ffdd57;
      .toast--progress {
        background: #ffdd57;
      }
    }
  }
  