@use 'headings';
@use 'toast';
@use 'typography';

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Regular.eot');
    src: url('@/assets/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('@/assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('@/assets/fonts/Montserrat-Regular.ttf') format('truetype'),
        url('@/assets/fonts/Montserrat-Regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Bold.eot');
    src: url('@/assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('@/assets/fonts/Montserrat-Bold.woff') format('woff'),
        url('@/assets/fonts/Montserrat-Bold.ttf') format('truetype'),
        url('@/assets/fonts/Montserrat-Bold.svg#montserratbold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  }


  .no-scrollbar {
    overflow-y: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }