@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-montserrat: Montserrat, sans-serif;
    --font-body: Montserrat, sans-serif;
}

body {
    @apply bg-gray-950 text-gray-100;
}