@import "tailwindcss";

@font-face {
    font-family: 'HAKSEN';
    src: url('~/assets/fonts/HAKSEN.otf') format('opentype'),
        url('~/assets/fonts/HAKSEN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: HAKSEN, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-haksen: HAKSEN, sans-serif;
}

body {
    @apply bg-black text-gray-100;
    font-family: var(--font-sans);
}